@using Tranning.DataDBContext
@model Tranning.Models.TopicDetail
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var lstCourse = (List<Course>)ViewBag.Course;
}
<div class="row vh-100">
    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Add New Topic</h5>
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" asp-controller="Topic" asp-action="Add" method="post" asp-validation-summary="All">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="name">Name</label>
                                <input asp-for="name" class="form-control" />
                                <span class="text-danger" asp-validation-for="name"></span>
                                @if (ViewBag.Error != null)
                                {
                                    <span class="text-danger">@ViewBag.Error</span>
                                }
                            </div>
                            <div class="form-group">
                                <label asp-for="course_id">Course Id</label>
                                <select asp-for="course_id" class="form-control">
                                    @if (lstCourse != null && lstCourse.Count > 0)
                                    {
                                        foreach(var item in lstCourse)
                                        {
                                            <option value="@item.id">@item.name</option>
                                        }
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="course_id"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="description">Description</label>
                                <textarea asp-for="description" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="status" class="control-label"></label>
                                <select class="form-control" asp-for="status">
                                    <option value="Active">Active</option>
                                    <option value="Deactive">Deactive</option>
                                </select>
                                <span asp-validation-for="status" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">File Videos</label>
                                <input type="file" class="form-control" asp-for="fileVideos" />
                                <span class="text-danger" asp-validation-for="fileVideos"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">File Ảnh</label>
                                <input type="file" class="form-control" asp-for="fileImage" />
                                <span class="text-danger" asp-validation-for="fileImage"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">File tài liệu</label>
                                <input type="file" class="form-control" asp-for="fileDocument" />
                                <span class="text-danger" asp-validation-for="fileDocument"></span>
                            </div>
                        </div>
                        <div class="sm-12 col-md-6">
                            <button class="btn btn-primary my-3" type="submit">Save</button>
                            <a class="btn btn-info ms-3 mb-0" href="@Url.Action("Index","Topic")">Back to lists</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

