@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row vh-100">
    <div class="col-sm-12 col-md-12">
        <h1 class="display-4">Welcome IT0501</h1>
    </div>
</div>
